.container {
  width: 970px !important;
}

.navbar h1 {
	margin-top: 15px;
	font-size: 22px;
	float:left;
	color: #fff;
}

.chat-box {
	height:400px;
	overflow: auto;
}
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 0.5s ease;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

.profile-image {
  width: 30px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.bg-extended {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ddd;
  min-width: 100%;
  height: 100%;
  display: table;
}

.align-vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.well-heading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
}

.well-heading h1 {
  color: #FFF;
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.well-body {
  margin: 150px 30px 30px 30px;
}

.three-dots-row-spinner {
  background-color: #009688;
  width: 50px;
  height: 50px;
}

.social-icons {
  margin: 20px;
}

.social-icons a {
  margin-right: 5px;
}

.social-icons .fa-linkedin {
  color: #0085AE;
}

.social-icons .fa-github {
  color: #070709;
}

.social-icons .fa-twitter {
  color: #32CCFE;
}

.social-icons .fa-wordpress {
  color: #21759b;
}

.mat-icon {
  font-size: inherit;
}

.typing-indicator {
  $ti-color-bg: #E6E7ED;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 0 auto;
  position: relative;
  animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

// vertically center demo 
html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}