<!DOCTYPE html>
<html lang="en" ng-app="webchat">

<head>
    <meta charset="utf-8" />
    <title>Web Socket Chat</title>
    <link href="lib/flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    
      <link href="css/chat.css" rel="stylesheet">
    
    </head>
    
    <body>
    <div class="container">
        <div class="login-screen">
            <div class="login-icon">
                <h4>Welcome to <small>WebSocket Chat</small></h4>

            </div>
            <div class="login-form" ng-controller="LoginController">
                <p><small style="color:#660">Enter a nickname to join. If you want to become admin use the password 'rockandroll'</small></p>
                <form ng-submit="login()">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" placeholder="Enter your name" name="username" ng-model="username"/>
                        <label class="login-field-icon fui-user" for="login-name"> Username</label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" name="password" ng-model="password"/>
                        <label class="login-field-icon fui-lock" for="login-pass"> Admin password </label>
                    </div>

                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log In" />
                </form>

            </div>


        </div>



    </div>
        
        <!-- 3rd party -->
		<script src="lib/angular/angular.min.js"></script>
	    <script src="lib/angular-animate/angular-animate.min.js"></script>
	    <script src="lib/angularjs-toaster/toaster.js"></script>
	    <script src="lib/angularjs-scroll-glue/src/scrollglue.js"></script>
	    <script src="lib/sockjs/sockjs.min.js"></script>
	    <script src="lib/stomp/lib/stomp.min.js"></script>
		
		<!-- App -->
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/directives.js"></script>

</body>


</html>
